.waterdrop-container {
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
